@import (reference) '~assets/styles/shared.less';

.Betslip {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 100%;
  width: @betslip-column-width;
  
  > div {
    .PrimaryBorderRadius;

    background: var(--simple-light-bg);
    box-shadow: var(--theme-box-shadow);
    min-height: 440px;
    border: @size-1 solid var(--simple-border);
    margin: @size-32 @size-32 @size-32 @size-8;
    width: @betslip-width;
  }

  @media @breakpoint-mobile-tablet {
    display: none;
  }
}

.BetslipHeader {
  .PrimaryTopBorderRadius;

  background: var(--simple-primary-text);
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  flex: 1 100%;
  min-width: 100%;
  height: @size-48;
  min-height: @size-48;
  max-height: @size-48;

  > button {
    .text-14-semi-bold;

    background: transparent;
    color: var(--simple-tertiary-text);
    border: none;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 50%;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    > span {
      .text-10;
      .PrimaryBorderRadius;

      border: @size-1 solid var(--simple-tertiary-text);
      padding: @size-3 @size-5;
      margin-left: @size-8;
      color: var(--simple-light-bg);
    }

    &.isPopulated {
      > span {
        color: var(--simple-light-bg);
      }
    }

    &.SelectedView,
    &.SelectedView.isPopulated {
      color: var(--simple-light-bg);

      > span {
        border: @size-1 solid var(--simple-light-bg);
        background: var(--simple-light-bg);
        color: var(--simple-primary-text);
      }
    }
  }
}

.EmptyBetslip {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  > div {
    background: var(--light-background-color);
    border-radius: 50%;
    margin-top: @size-80;
    margin-bottom: @size-16;
    height: @size-80;
    width: @size-80;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > svg {
      height: @size-40;
      width: @size-40;
    }
  }

  > h3 {
    .text-14-bold;

    color: var(--simple-primary-text);
    margin: 0;
  }

  > p {
    .text-14;

    color: var(--simple-primary-text);
    margin: 0;
    margin-top: @size-1;
    margin-bottom: @size-11;
  }
  
}