// theme divided values
// TRADING is default theme, hence root by itself.
// branding
@color-brand: #2AE7A8;
@color-brand-secondary: #FFFFFF;

:root {
  // branding
  --color-brand: @color-brand;
  --color-brand-20: fade(#2AE7A8, 20%);
  --color-brand-secondary: @color-brand-secondary;
  --color-brand-secondary-flip: #0E0E21;
  // social
  --color-twitter: #55ACEE;
  --color-twitter-2: #FFFFFF;
  --color-facebook: #3B5998;
  --color-facebook-2: #FFFFFF;

  // Interactives
  --color-primary-action: #09CFE1;
  --color-primary-action-5-dark:#08b9c9;
  --color-primary-action-15-dark: #068c98;
  --color-primary-action-5: fade(#09CFE1, 5%);
  --color-primary-action-10: fade(#09CFE1, 10%);
  --color-primary-action-15: fade(#09CFE1, 15%);
  --color-primary-action-20: fade(#09CFE1, 20%);
  --color-primary-action-40: fade(#09CFE1, 40%);
  --color-primary-action-70: fade(#09CFE1, 70%);
  --color-primary-action-80: fade(#09CFE1, 80%);
  --color-primary-action-90: fade(#09CFE1, 90%);
  
  --color-secondary-action-outline: #3C3B43;
  --color-secondary-action-outline-25: fade(#3C3B43, 25%);
  --color-secondary-action-outline-30: fade(#3C3B43, 30%);
  --color-secondary-action-outline-40: fade(#3C3B43, 40%);
  --color-secondary-action-outline-50: fade(#3C3B43, 50%);
  --color-secondary-action-outline-70: fade(#3C3B43, 70%);
  --color-secondary-hover: #302F36;
  --color-secondary-hover-25: fade(#3C3B43, 25%);
  --color-secondary-hover-50: fade(#3C3B43, 50%);

  // 3box Comments
  --color-upvote: #7EC9FF;
  --color-upvote-20: fade(#7EC9FF, 20%);
  --color-downvote: #FD6266;
  --color-downvote-20: fade(#FD6266, 20%);

  //Simple UI colors
  --light-background-color: #F6F7F8;
  --simple-alternate-background: #EDEFF1;
  --simple-secondary-text: #8B959E;
  --simple-primary-text: #15171A;
  --simple-primary-text-25: fade(#15171A, 25%);
  --simple-primary-text-40: fade(#15171A, 40%);
  --simple-primary-text-85: fade(#15171A, 85%);
  --simple-secondary-text-50: fade(#8B959E, 50%);

  --simple-border: #DBE1E7;
  --simple-light-bg: #FFFFFF;
  --simple-light-bg-20: fade(#FFFFFF, 20%);
  --simple-light-bg-50: fade(#FFFFFF, 50%);
  --simple-shadow-10: fade(#0e0e21, 10%);
  --simple-outline-color: #1B91FF;
  --simple-focus-color: #1B91FF;

  --medical-color: #73D2DE; // outcome 3
  --finance-color: #FF7D5E; // outcome 2 (tech 1 in code, 2 in mocks)
  --entertainment-color: #FFBC42; // outcome 5
  --politics-color: #1F71B5; // outcome 7
  --crypto-color: #218380; // outcome 4
  --sports-color: #D81159; // outcome 6

  --simple-yes: #05B169; // outcome 1 (tech 2 in code, 1 in mocks)
  --simple-yes-15: fade(#05B169, 15%);
  --simple-yes-30: fade(#05B169, 30%);
  --simple-no: #FF7D5E; // outcome 2 (tech 1 in code, 2 in mocks)
  --simple-no-15: fade(#FF7D5E, 15%);
  --simple-chart-color: #c4c4c4;
  --simple-confirmed: @color-brand;
  --simple-failed: #FF3E13;
  --simple-failed-5: fade(#FF3E13, 5%);
  --simple-failed-10: fade(#FF3E13, 10%);
  --simple-failed-15: fade(#FF3E13, 15%);
  --simple-warning: #F59300;
  --simple-warning-5: fade(#F59300, 5%);
  --simple-warning-10: fade(#F59300, 10%);
  --simple-warning-15: fade(#F59300, 15%);

  --simple-brand: #2AE7A8;

  --theme-outcome-0: #58586B;
  --theme-outcome-1: #05B169;
  --theme-outcome-2: #FF7D5E;
  --theme-outcome-3: #73D2DE;
  --theme-outcome-4: #218380;
  --theme-outcome-5: #FFBC42;
  --theme-outcome-6: #D81159;
  --theme-outcome-7: #1F71B5;


  --dark-button-theme-color: #15171A;
  --light-button-theme-color: #ffffff;
  --tiny-dark-button-theme-color: #8B959E;
  --tiny-light-button-theme-color: #DBE1E7;
  --theme-focus-border-color: #1b91ff;
  --theme-focus-box-shadow: 0 0 0 @size-1 var(--theme-focus-border-color);
  --primary-button-theme-color: #05B169;
  --primary-button-theme-background-color: rgba(5, 177, 105, 0.15);
  --inverted-primary-button-theme-background-color: rgba(5, 177, 105, 0.3);
  --secondary-button-theme-background-color: #F6F7F8;
  --inverted-secondary-button-theme-background-color: #EDEFF1;
  // This example is going to assume sportsbook values for now.
  --primary-button-background: var(--primary-button-theme-background-color);
  --primary-button-border-color: var(--primary-button-theme-color);
  --primary-button-border: @size-1 solid var(--primary-button-border-color);
  --primary-button-text-color: var(--dark-button-theme-color);

  --primary-button-background-hover: var(--inverted-primary-button-theme-background-color);
  --primary-button-border-color-hover: var(--primary-button-theme-color);
  --primary-button-border-hover: @size-1 solid var(--primary-button-border-color-hover);
  --primary-button-text-color-hover: var(--dark-button-theme-color);

  --primary-button-background-focus: var(--primary-button-theme-background-color);
  --primary-button-border-color-focus: var(--theme-focus-border-color);
  --primary-button-border-focus: @size-1 solid var(--primary-button-border-color-focus);
  --primary-button-text-color-focus: var(--dark-button-theme-color);

  --primary-button-background-pressed: var(--inverted-primary-button-theme-background-color);
  --primary-button-border-color-pressed: var(--primary-button-theme-color);
  --primary-button-border-pressed: @size-1 solid var(--primary-button-border-color-pressed);
  --primary-button-text-color-pressed: var(--dark-button-theme-color);

  --inverted-primary-button-background: var(--inverted-primary-button-theme-background-color);
  --inverted-primary-button-border-color: var(--primary-button-theme-color);
  --inverted-primary-button-border: @size-1 solid var(--inverted-primary-button-border-color);
  --inverted-primary-button-text-color: var(--light-button-theme-color);

  --inverted-primary-button-background-hover: var(--light-button-theme-color);
  --inverted-primary-button-border-color-hover: var(--light-button-theme-color);
  --inverted-primary-button-border-hover: @size-1 solid var(--inverted-primary-button-border-color-hover);
  --inverted-primary-button-text-color-hover: var(--dark-button-theme-color);

  --inverted-primary-button-background-focus: var(--inverted-primary-button-theme-background-color);
  --inverted-primary-button-border-color-focus: var(--theme-focus-border-color);
  --inverted-primary-button-border-focus: @size-1 solid var(--inverted-primary-button-border-color-focus);
  --inverted-primary-button-text-color-focus: var(--light-button-theme-color) f;

  --inverted-primary-button-background-pressed: var(--light-button-theme-color);
  --inverted-primary-button-border-color-pressed: var(--light-button-theme-color);
  --inverted-primary-button-border-pressed: @size-1 solid var(--inverted-primary-button-border-color-pressed);
  --inverted-primary-button-text-color-pressed: var(--dark-button-theme-color);

  // This example is going to assume sportsbook values for now.
  --secondary-button-background: var(--secondary-button-theme-background-color);
  --secondary-button-border-color: var(--tiny-light-button-theme-color);
  --secondary-button-border: @size-1 solid var(--secondary-button-border-color);
  --secondary-button-text-color: var(--dark-button-theme-color);

  --secondary-button-background-hover: var(--inverted-secondary-button-theme-background-color);
  --secondary-button-border-color-hover: var(--tiny-light-button-theme-color);
  --secondary-button-border-hover: @size-1 solid var(--secondary-button-border-color-hover);
  --secondary-button-text-color-hover: var(--dark-button-theme-color);

  --secondary-button-background-focus: var(--secondary-button-theme-background-color);
  --secondary-button-border-color-focus: var(--theme-focus-border-color);
  --secondary-button-border-focus: @size-1 solid var(--secondary-button-border-color-focus);
  --secondary-button-text-color-focus: var(--dark-button-theme-color);

  --secondary-button-background-pressed: var(--inverted-secondary-button-theme-background-color);
  --secondary-button-border-color-pressed: var(--tiny-light-button-theme-color);
  --secondary-button-border-pressed: @size-1 solid var(--secondary-button-border-color-pressed);
  --secondary-button-text-color-pressed: var(--dark-button-theme-color);

  --inverted-secondary-button-background: transparent;
  --inverted-secondary-button-border-color: var(--light-button-theme-color);
  --inverted-secondary-button-border: @size-1 solid var(--inverted-secondary-button-border-color);
  --inverted-secondary-button-text-color: var(--light-button-theme-color);

  --inverted-secondary-button-background-hover: var(--light-button-theme-color);
  --inverted-secondary-button-border-color-hover: var(--light-button-theme-color);
  --inverted-secondary-button-border-hover: @size-1 solid var(--inverted-secondary-button-border-color-hover);
  --inverted-secondary-button-text-color-hover: var(--dark-button-theme-color);

  --inverted-secondary-button-background-focus: transparent;
  --inverted-secondary-button-border-color-focus: var(--theme-focus-border-color);
  --inverted-secondary-button-border-focus: @size-1 solid var(--inverted-secondary-button-border-color-focus);
  --inverted-secondary-button-text-color-focus: var(--light-button-theme-color);

  --inverted-secondary-button-background-pressed: var(--light-button-theme-color);
  --inverted-secondary-button-border-color-pressed: var(--light-button-theme-color);
  --inverted-secondary-button-border-pressed: @size-1 solid var(--inverted-secondary-button-border-color-pressed);
  --inverted-secondary-button-text-color-pressed: var(--dark-button-theme-color);

  // This example is going to assume sportsbook values for now.
  --tiny-button-background: var(--light-button-theme-color);
  --tiny-button-border-color: var(--tiny-light-button-theme-color);
  --tiny-button-border: @size-1 solid var(--tiny-button-border-color);
  --tiny-button-text-color: var(--tiny-dark-button-theme-color);

  --tiny-button-background-hover: var(--light-button-theme-color);
  --tiny-button-border-color-hover: var(--tiny-dark-button-theme-color);
  --tiny-button-border-hover: @size-1 solid var(--tiny-button-border-color-hover);
  --tiny-button-text-color-hover: var(--tiny-dark-button-theme-color);

  --tiny-button-background-focus: var(--light-button-theme-color);
  --tiny-button-border-color-focus: var(--tiny-dark-button-theme-color);
  --tiny-button-border-focus: @size-1 solid var(--tiny-button-border-color-focus);
  --tiny-button-text-color-focus: var(--tiny-dark-button-theme-color);

  --tiny-button-background-pressed: var(--inverted-secondary-button-theme-background-color);
  --tiny-button-border-color-pressed: var(--dark-button-theme-color);
  --tiny-button-border-pressed: @size-1 solid var(--tiny-button-border-color-pressed);
  --tiny-button-text-color-pressed: var(--dark-button-theme-color);

  --inverted-tiny-button-background: var(--light-button-theme-color);
  --inverted-tiny-button-border-color: var(--tiny-light-button-theme-color);
  --inverted-tiny-button-border: @size-1 solid var(--inverted-tiny-button-border-color);
  --inverted-tiny-button-text-color: var(--tiny-dark-button-theme-color);

  --inverted-tiny-button-background-hover: var(--light-button-theme-color);
  --inverted-tiny-button-border-color-hover: var(--dark-button-theme-color);
  --inverted-tiny-button-border-hover: @size-1 solid var(--inverted-tiny-button-border-color-hover);
  --inverted-tiny-button-text-color-hover: var(--tiny-dark-button-theme-color);

  --inverted-tiny-button-background-focus: var(--light-button-theme-color);
  --inverted-tiny-button-border-color-focus: var(--theme-focus-border-color);
  --inverted-tiny-button-border-focus: @size-1 solid var(--inverted-tiny-button-border-color-focus);
  --inverted-tiny-button-text-color-focus: var(--tiny-dark-button-theme-color);

  --inverted-tiny-button-background-pressed: var(--dark-button-theme-color);
  --inverted-tiny-button-border-color-pressed: var(--dark-button-theme-color);
  --inverted-tiny-button-border-pressed: @size-1 solid var(--inverted-tiny-button-border-color-pressed);
  --inverted-tiny-button-text-color-pressed: var(--light-button-theme-color);

  --button-disabled-opacity: 0.5;
  --theme-button-border-radius: @size-8;

  --normal-button-height: @size-48;
  --normal-button-padding: @size-13 @size-16;
  --normal-button-svg-height: @size-20;
  --normal-button-svg-width: @size-20;
  --normal-button-font-size: @size-16;
  --normal-button-font-weight: 700;
  --normal-button-flex-flow: row-reverse nowrap;
  --normal-button-flex-flow-reverse: row wrap;
  --normal-button-icon-margin: 0 @size-4 0 0;
  --normal-button-icon-margin-reverse: 0 0 0 @size-4;

  --small-button-height: @size-36;
  --small-button-padding: @size-12 @size-16;
  --small-button-svg-height: @size-16;
  --small-button-svg-width: @size-16;
  --small-button-font-size: @size-14;
  --small-button-font-weight: 600;

  --tiny-button-height: @size-25;
  --tiny-button-padding: @size-3 @size-8;
  --tiny-button-svg-height: @size-16;
  --tiny-button-svg-width: @size-16;
  --tiny-button-font-size: @size-12;
  --tiny-button-font-weight: 600;
  --tiny-button-text-transform: none;
}

@color-outcome-list: var(--theme-outcome-0) var(--theme-outcome-1) var(--theme-outcome-2) var(--theme-outcome-3) var(--theme-outcome-4) var(--theme-outcome-5) var(--theme-outcome-6) var(--theme-outcome-7);

.generate-trading-indexed-color-outcome-classes(@rules) {
  each(@color-outcome-list, {
    @newIndex: @index;
    @rules();
  });
}
