@import (reference) '~assets/styles/shared';

.ApproveButton {
  color: var(--inverted-primary-text);
  background-color: var(--primary-text);
  border: @size-1 solid var(--theme-border);
  min-height: @size-68;
  height: @size-68;
  max-height: @size-68;

  > span {
    .text-20-bold;
  }

  &:not(:disabled):not(.Disabled):focus,
  &:not(:disabled):not(.Disabled):focus-within {
    .Focused;

    background-color: var(--primary-text);
  }

  &:not(:disabled):not(.Disabled):active {
    background-color: var(--tertiary-bg);
  }
}

.BuySellButton {
  border: @size-1 solid var(--theme-border);
  background: var(--primary-text);
  color: var(--inverted-primary-text);
  min-height: @size-68;
  height: @size-68;
  max-height: @size-68;
  flex-flow: column nowrap;
  padding: 0 @size-16;

  > span:first-of-type {
    .text-20-bold;

    text-transform: none;
  }

  &:hover {
    background-color: rgba(var(--primary-text-rgb), 0.85);
  }

  &:disabled {
    pointer-events: none;
    background: var(--secondary-bg);
    border: @size-1 solid var(--theme-border);
    color: var(--secondary-text);
    // purposeful override for specifically just this button for readability.
    opacity: 1;
  }

  &.Error {
    pointer-events: none;
    color: var(--failed);
    background: rgba(var(--failed-rgb), 0.15);
    opacity: 1;
    border: 0;
  }

  &:not(:disabled):not(.Disabled):focus,
  &:not(:disabled):not(.Disabled):focus-within {
    .Focused;

    background-color: var(--primary-text);
    color: var(--inverted-primary-text);
  }

  &:not(:disabled):not(.Disabled):active {
    background-color: var(--tertiary-bg);
  }
}

.Focused {
  &:not(:disabled):not(.Disabled) {
    &:focus {
      outline: 0;
    }

    &:focus-visible {
      outline: 0;
      border: @size-1 solid var(--theme-focus-color);
      box-shadow: inset 0 0 0 @size-2 var(--theme-focus-color);
    }
  }
}

.TinyTransparentButton {
  background-color: transparent;
  border: 0;

  &:not(:disabled):not(.Disabled) {
    &:hover {
      background-color: var(--tertiary-bg);
      border: 0;
    }

    &:focus {
      background-color: transparent;
    }

    &:active,
    &.Selected {
      background-color: var(--tertiary-bg);
    }
  }
}
