@color-brand: #2AE7A8;
@color-brand-secondary: #FFFFFF;
@color-twitter: #55ACEE;
@color-twitter-2: #FFFFFF;
@color-facebook: #3B5998;
@color-facebook-2: #FFFFFF;

:root {
  // branding
  --color-brand: @color-brand;
  --color-brand-secondary: @color-brand-secondary;
  // social
  --color-twitter: @color-twitter;
  --color-twitter-2: @color-twitter-2;
  --color-facebook: @color-facebook;
  --color-facebook-2: @color-facebook-2;
  // text
  --primary-text: #15171A;
  --primary-text-rgb: 21, 23, 26;
  --secondary-text: #8B959E;
  --secondary-text-rgb: 139, 149, 158;
  --tertiary-text: hsl(208, 9%, 58%);
  --tertiary-text-rgb: 139, 149, 158;
  // backgrounds
  --primary-bg: #FFFFFF;
  --primary-bg-rgb: 255, 255, 255;
  --secondary-bg: #F6F7F8;
  --secondary-bg-rgb: 246, 247, 248;
  --tertiary-bg: #EDEFF1;
  --tertiary-bg-rgb: 237, 239, 241;
  // misc
  --theme-border: #DBE1E7;
  --theme-border-rgb: 219, 225, 231;
  --theme-focus: #1B91FF;
  --theme-focus-rgb: 27, 145, 255;
  // status
  --failed: #FF3E13;
  --failed-rgb: 255, 62, 19;
  --warning: #F59300;
  --warning-rbg: 245, 147, 0;
  --success: #05B169;
  --success-rbg: 5, 177, 105;
  // trading
  --buy: #05B169;
  --buy-rbg: 5, 177, 105;
  --sell: #8A8A8A;
  --sell-rbg: 255, 125, 94;
  // outcomes
  --theme-outcome-0: #58586B;
  --theme-outcome-1: #05B169;
  --theme-outcome-2: #FF7D5E;
  --theme-outcome-3: #73D2DE;
  --theme-outcome-4: #218380;
  --theme-outcome-5: #FFBC42;
  --theme-outcome-6: #D81159;
  --theme-outcome-7: #1F71B5;
  // categories
  --medical-color: #73D2DE;
  --finance-color: #FF7D5E;
  --entertainment-color: #FFBC42;
  --politics-color: #1F71B5;
  --crypto-color: #218380;
  --sports-color: #D81159;
}

@color-outcome-list: var(--theme-outcome-0) var(--theme-outcome-1) var(--theme-outcome-2) var(--theme-outcome-3) var(--theme-outcome-4) var(--theme-outcome-5) var(--theme-outcome-6) var(--theme-outcome-7);

.generate-trading-indexed-color-outcome-classes(@rules) {
  each(@color-outcome-list, {
    @newIndex: @index;
    @rules();
  });
}
