// theme divided values
// branding
@color-brand: #2AE7A8;
@color-brand-secondary: #FFFFFF;
@color-twitter: #55ACEE;
@color-twitter-2: #FFFFFF;
@color-facebook: #3B5998;
@color-facebook-2: #FFFFFF;

:root {
  // branding
  --simple-brand: #2AE7A8;
  --color-brand: @color-brand;
  --color-brand-secondary: @color-brand-secondary;
  --color-brand-secondary-flip: #0E0E21;
  
  // social
  --color-twitter: @color-twitter;
  --color-twitter-2: @color-twitter-2;
  --color-facebook: @color-facebook;
  --color-facebook-2: @color-facebook-2;

  // text
  --simple-primary-text: #15171A;
  --simple-primary-text-rgb: 21, 23, 26;
  --simple-secondary-text: #8B959E;
  --simple-secondary-text-rgb: 139, 149, 158;
  --simple-tertiary-text: #8B949E;
  --simple-tertiary-text-rgb: 139, 149, 158;

  // backgrounds
  --simple-light-bg: #FFFFFF;
  --simple-light-bg-rgb: 255, 255, 255;
  --light-background-color: #F6F7F8;
  --light-background-color-rgb: 246, 247, 248;
  --simple-alternate-background: #EDEFF1;
  --simple-alternate-background-rgb: 237, 239, 241;

  // borders/actions
  --simple-border: #DBE1E7;
  --simple-focus-color: #1B91FF;

  // status
  --simple-failed: #FF3E13;
  --simple-failed-rgb: 255, 62, 19;
  --simple-warning: #F59300;
  --simple-warning-rgb: 245, 147, 0;
  --simple-success: #05B169;
  --simple-success-rgb: 5, 177, 105;
  // trading
  --simple-yes: #05B169;
  --simple-yes-rgb: 5, 177, 105;
  --simple-no: #FF7D5E;
  --simple-no-rgb: 255, 125, 94;

  // outcomes
  --theme-outcome-0: #58586B;
  --theme-outcome-1: #05B169;
  --theme-outcome-2: #FF7D5E;
  --theme-outcome-3: #73D2DE;
  --theme-outcome-4: #218380;
  --theme-outcome-5: #FFBC42;
  --theme-outcome-6: #D81159;
  --theme-outcome-7: #1F71B5;

  // categories
  --medical-color: #73D2DE;
  --finance-color: #FF7D5E;
  --entertainment-color: #FFBC42;
  --politics-color: #1F71B5;
  --crypto-color: #218380;
  --sports-color: #D81159;
}

@color-outcome-list: var(--theme-outcome-0) var(--theme-outcome-1) var(--theme-outcome-2) var(--theme-outcome-3) var(--theme-outcome-4) var(--theme-outcome-5) var(--theme-outcome-6) var(--theme-outcome-7);

.generate-trading-indexed-color-outcome-classes(@rules) {
  each(@color-outcome-list, {
    @newIndex: @index;
    @rules();
  });
}
