@import (reference) "~assets/styles/shared";

.EventBetsSection {
  display: flex;
  flex-flow: column nowrap;

  > article {
    margin-bottom: @size-24;
  }
}

.EventBetTable {
  .SimpleBorder;
  .SecondaryBorderRadius;

  background: var(--simple-light-bg);

  > header {
    .SecondaryTopBorderRadius;

    display: flex;
    flex-flow: row nowrap;
    min-height: @size-72;
    padding: @size-16;

    > h4 {
      .text-16-bold;

      color: var(--simple-primary-text);
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    > span {
      .text-12-semi-bold;

      color: var(--simple-secondary-text);
      text-transform: uppercase;
    }
  }
}

.EventTableMain {
  .SecondaryBottomBorderRadius;

  > ul {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 0.33fr 0.33fr 0.33fr 1fr 1fr;
    grid-gap: @size-4;
    border-top: @size-1 solid var(--simple-border);
    min-height: @size-64;
    padding: 0 @size-16;

    > li {
      .text-12;

      color: var(--simple-primary-text);
      text-align: right;
      align-items: flex-end;

      &:first-of-type {
        text-align: left;
        align-items: flex-start;

        display: flex;
        flex-flow: column nowrap;

        > span:first-of-type {
          .text-14-bold;

          color: var(--simple-primary-text);
          margin-bottom: @size-4;
        }

        > span:last-of-type {
          .text-12;

          color: var(--simple-secondary-text);
        }
      }

      &:last-of-type {
        text-align: center;
        align-items: center;

        > button {
          .SimpleBorder;
          .text-10-semi-bold;

          background: transparent;
          padding: @size-3 @size-6;
          min-height: @size-20;
          max-height: @size-20;
          text-transform: uppercase;
          cursor: pointer;

          &:not(.CanCashOut):not(.HasCashedOut):disabled {
            opacity: 0.75;
            cursor: not-allowed;
          }

          &.CanCashOut {
            &:hover:not(:disabled) {
              border-color: var(--simple-primary-text);
              background: var(--simple-primary-text);
              color: var(--simple-light-bg);
            }
          }

          &.HasCashedOut {
            background: var(--simple-primary-action-15);
            border-color: var(--simple-primary-action-15);
            cursor: default;
            color: var(--simple-secondary-text);
          }
        }
      }
    }

    &:first-of-type {
      min-height: @size-40;
      background: var(--simple-alternate-background);

      > li {
        .text-10-semi-bold;

        color: var(--simple-secondary-text);
        text-transform: uppercase;
      }
    }
  }
  &:last-child {
    .SecondaryBottomBorderRadius;
  }
}
