@import (reference) "~assets/styles/shared";

.TopNav {
  align-items: center;
  background: transparent;
  border-bottom: @size-1 solid var(--simple-border);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: @sports-top-bar-height;
  min-height: @sports-top-bar-height;
  max-height: @sports-top-bar-height;
  width: 100vw;
  position: fixed;
  z-index: @above-all-content;
  box-sizing: content-box;

  > article {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
    flex: 1 100%;
    width: 100vw;
    height: @size-48;
    min-height: @size-48;
    max-height: @size-48;
    position: relative;
  }

  > section {
    align-items: center;
    background: var(--light-background-color);
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: auto auto;
    flex: 1;
    grid-gap: @size-16;
    width: 100%;
    height: @sports-top-nav-height;
    min-height: @sports-top-nav-height;
    max-height: @sports-top-nav-height;

    &:first-of-type {
      max-width: @size-912;
      padding-left: @sports-gutter;
      grid-template-columns: 0fr 1fr;
      grid-gap: @size-80;

      > a:first-of-type > section {
        height: @size-32;
        width: @size-96;
      }

      @media @breakpoint-mobile-tablet {
        grid-template-columns: auto;
        grid-gap: 0;
      }

      > ol {
        align-items: center;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;

        > li {
          flex: 0 auto;
          margin-right: @size-40;

          &:last-of-type {
            margin-right: 0;
          }

          > a {
            .text-16-bold;

            text-transform: uppercase;
            color: var(--simple-tertiary-text);
            white-space: nowrap;
          }

          &:hover {
            > a {
              color: var(--simple-primary-text);

              &[disabled] {
                color: var(--simple-tertiary-text);
              }
            }
          }

          &.Active {
            > a {
              color: var(--simple-primary-text);
            }
          }
        }
      }
    }

    &:last-of-type {
      max-width: @size-528;
      padding-right: @sports-gutter;
      grid-gap: @size-8;
      align-items: center;
      justify-content: flex-end;

      > div > button {
        // account button
        padding-left: @size-16;
        padding-right: @size-16;
      }

      > button:first-of-type:first-of-type {
        margin-left: auto;
      }
    }
  }

  &.TwoTone > section:last-of-type {
    background: var(--simple-light-bg);
  }
}

@media @breakpoint-tiny {
  .TopNav {
    &.OnMarketsView {
      &.TwoTone > section:last-of-type {
        background: var(--light-background-color);
      }
    }
    &.TwoTone > section:first-of-type {
      padding-left: @size-44;
    }
    &.TwoTone > section:last-of-type {
      // max-width: @size-340;
      width: @size-340;
      padding-right: @size-44;
    }
  }
}

@media @breakpoint-mobile-tablet {
  .TopNav {
    height: @size-48;
    min-height: @size-48;
    max-height: @size-48;

    > article {
      display: flex;

      > a:first-of-type {
        height: @size-48;
        width: @size-48;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > button:first-of-type {
        background: transparent;
        border: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        border-right: @size-1 solid var(--simple-secondary-text);
        border-left: @size-1 solid var(--simple-secondary-text);
        height: @size-48;
        min-height: @size-48;
        max-height: @size-48;
        width: @size-48;
        min-width: @size-48;
        max-width: @size-48;
        margin-left: auto;
        position: relative;

        > p {
          .text-default;

          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: @size-2;
          top: @size-15;
          border-radius: @size-8;
          border: @size-1 solid var(--simple-primary-text);
          background: var(--simple-failed);
          color: var(--simple-light-bg);
          font-size: @size-8;
          font-weight: 500;
          line-height: @size-10;
          margin: 0;
          padding: 0 @size-3;
          min-width: @size-15;
          min-height: @size-14;
        }
      }

      > button[class*="BaseNormalButton"] {
        margin: 0 @size-12;

        > div {
          display: none;
        }
      }
    }

    > section {
      display: none;
    }
  }
}

.SettingsMenuWrapper {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  height: 100%;

  &.Open {
    > button {
      > svg > path {
        stroke: var(--simple-tertiary-text);
        fill: var(--simple-tertiary-text);
      }
    }
  }

  > button {
    background-color: transparent;
    border: @size-1 solid var(--simple-secondary-text);
    border-bottom: 0;
    border-top: 0;
    border-radius: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    min-height: @size-56;
    height: 100%;
    width: @size-56;
    min-width: @size-56;
    cursor: pointer;

    > svg > path {
      stroke: var(--simple-light-bg);
      fill: var(--simple-light-bg);
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:hover:not(:disabled) {
      > svg > path {
        stroke: var(--simple-tertiary-text);
        fill: var(--simple-tertiary-text);
      }
    }
  }
}

.SettingsMenu {
  .FixedBoxShadow;
  .SimpleBorder;
  .SecondaryBorderRadius;

  background: var(--simple-light-bg);
  position: absolute;
  right: 0;
  top: @size-68;
  max-width: @size-240;
  min-width: @size-240;
  display: flex;
  flex-flow: column nowrap;

  @media @breakpoint-mobile-tablet {
    top: auto;
    bottom: 61px;
    right: 0;
  }

  > li {
    > label {
      .text-12-semi-bold;

      color: var(--simple-primary-text);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      background: var(--light-background-color);
      padding: @size-12 @size-14;
      text-transform: uppercase;
      margin: 0;
    }

    &:not(:first-of-type) > label {
      border-top: @size-1 solid var(--simple-border);
    }

    > ul {
      display: flex;
      flex-flow: column nowrap;
      border-top: @size-1 solid var(--simple-border);

      > li {
        padding: 0 @size-12;

        &:not(:last-of-type):focus-within,
        &:focus-within {
          padding: 0;

          > button {
            border: @size-1 solid var(--theme-focus-border-color);
            border-bottom: @size-1 solid var(--theme-focus-border-color);
            padding: 0 @size-12;
          }
        }

        &:hover {
          background: var(--light-background-color);

          > button {
            color: var(--simple-primary-text);
          }
        }

        > button {
          .text-14;

          color: var(--simple-secondary-text);
          border: 0;
          background: transparent;
          text-transform: capitalize;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          min-height: @size-44;
          max-height: @size-44;
          width: 100%;
          cursor: pointer;

          > svg {
            display: none;
          }

          &.Active {
            color: var(--simple-primary-text);

            > svg {
              display: block;
            }
          }
        }

        &:not(:last-of-type) > button {
          border-bottom: @size-1 solid var(--simple-border);
        }
      }
    }

    > div {
      border-top: @size-1 solid var(--simple-border);
      min-height: @size-44;
      max-height: @size-44;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: @size-4;
      padding: @size-8 @size-16;

      > button {
        .text-12-semi-bold;
        .SimpleBorder;

        background: transparent;
        color: var(--simple-secondary-text);

        &.Active {
          border-color: var(--simple-primary-text);
          color: var(--simple-primary-text);
        }
      }
    }
  }

  & > :first-child {
    .SecondaryTopBorderRadius;

    & > :first-child {
      .SecondaryTopBorderRadius;
    }
  }

  & > :last-child {
    .SecondaryBottomBorderRadius;

    & > :last-child {
      .SecondaryBottomBorderRadius;
    }
  }
}

.Selected {
  background: var(--simple-alternate-background);
}

.MobileMenuButton {
  max-width: @size-48;
  min-width: @size-48;
  width: @size-48;
  height: @size-48;
  min-height: @size-48;
  max-height: @size-48;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: none;
  background: transparent;
  border: 0;
  border-left: @size-1 solid var(--simple-secondary-text);

  > svg {
    width: @size-20;
    height: @size-16;

    > path {
      fill: white;
    }
  }
}

:root[theme="SPORTS"] {
  .TopNav {
    background: var(--simple-primary-text);

    > section {
      background: var(--simple-primary-text);
      border-color: var(--simple-secondary-text);

      &:first-of-type {
        > a > section > svg > g > path:not(:first-of-type) {
          fill: var(--simple-light-bg);
        }

        > ol {
          // border-top: @size-1 solid var(--simple-secondary-text);

          > li {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            min-height: 100%;
            align-items: center;
            justify-content: center;

            > a {
              height: 100%;
              display: flex;
              align-items: center;
            }

            &:hover {
              > a {
                color: var(--simple-light-bg);

                &[disabled] {
                  color: var(--simple-secondary-text);
                }
              }
            }

            &.Active,
            &.Active:hover {
              > a {
                color: var(--simple-light-bg);
              }
            }
          }
        }
      }

      &:last-of-type {
        > div:first-of-type {
          grid-column: 2;
          grid-row: 1;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          > span {
            .text-16-bold;

            color: var(--simple-light-bg);
            margin-right: @size-16;
            margin-left: @size-24;
          }
        }
      }
    }
  }
}

.MobileMenu {
  background: var(--simple-primary-text);
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  left: 100%;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: @size-64 1fr @size-64;
  grid-gap: @size-8;

  &.Open {
    left: 0;

    > footer {
      left: 0;
    }
  }

  > header {
    height: @size-64;
    min-height: @size-64;
    max-height: @size-64;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: @size-1 solid var(--simple-secondary-text);

    > a {
      height: @size-64;
      min-height: @size-64;
      max-height: @size-64;
      width: @size-64;
      min-width: @size-64;
      max-width: @size-64;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }

    > button {
      height: @size-64;
      min-height: @size-64;
      max-height: @size-64;
      width: @size-64;
      min-width: @size-64;
      max-width: @size-64;
      border: 0;
      background: transparent;

      > svg {
        height: @size-12;
        width: @size-12;

        > path {
          fill: var(--simple-light-bg);
        }
      }
    }
  }

  > main {
    padding: 0 @size-24;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;

    > ol {
      margin-top: @size-32;
      border-bottom: @size-1 dashed var(--simple-secondary-text);
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: @size-24;

      > li {
        margin-bottom: @size-24;

        > a {
          .text-20-bold;

          color: var(--simple-tertiary-text);
        }

        &.Active > a {
          color: var(--simple-light-bg);
        }
      }
    }
  }

  > footer {
    height: @size-64;
    min-height: @size-64;
    max-height: @size-64;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    border-top: @size-1 solid var(--simple-secondary-text);
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 100%;

    > div {
      > button {
        border-right: 0;
        min-width: @size-64;
        width: @size-64;
        max-width: @size-64;
      }

      ul {
        bottom: 25vh;
        right: 100%;
      }
    }
  }
}
