@import (reference) "~assets/styles/shared.less";

.SportsMarketCard {
  .SimpleBorder;

  min-height: 224px;
  height: min-content;
  background: var(--simple-light-bg);
  padding: @size-12;
  display: grid;
  grid-gap: @size-8;
}

.SportsCardTopbar {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  min-height: @size-20;
  max-height: @size-20;

  > span {
    min-height: @size-20;
    max-height: @size-20;
    margin-right: @size-12;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      margin-right: auto;
    }

    &:nth-of-type(2) {
      .text-12-semi-bold;

      color: var(--simple-secondary-text);
      text-transform: uppercase;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.SportsCardTitle {
  .text-16-bold;

  color: var(--simple-primary-text);
}

.SportsCardOutcomes {
  .SimpleBorder;

  > header {
    .PrimaryTopBorderRadius;

    align-items: center;
    background: var(--light-background-color);
    border-bottom: @size-1 solid var(--simple-border);
    display: flex;
    flex-flow: row nowrap;
    padding: @size-8;
    min-height: @size-30;
    max-height: @size-30;

    > span {
      .text-10-semi-bold;

      color: var(--simple-secondary-text);
      text-transform: uppercase;
    }
  }

  > main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: @size-8;

    > div {
      flex: 1;
      margin-right: @size-8;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  > :last-child {
    .PrimaryBottomBorderRadius;
  }
}

.SportsCardOutcomesFooter {
  .text-14;

  min-height: @size-40;
  max-height: @size-40;
  height: @size-40;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: @size-8;
  background: var(--simple-light-bg);
  border-top: @size-1 solid var(--simple-border);

  > span {
    .text-14-bold;

    font-style: italic;
    margin: 0 @size-4;
  }

  > svg {
    height: @size-24;
    width: @size-24;
  }
}

.SportsOutcomeButton {
  .SimpleBorder;

  border-color: var(--simple-border);
  background: var(--light-background-color);
  min-height: @size-66;
  padding: @size-8;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-gap: @size-2 @size-4;

  > label {
    .text-14-bold;

    color: var(--simple-primary-text);
    grid-column: 1;
    grid-row: span 2;
  }

  > button {
    .text-10-semi-bold;
    .SimpleBorder;

    border-color: var(--simple-yes);
    background: var(--simple-yes-15);
    color: var(--simple-primary-text);
    min-height: @size-36;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: @size-3 @size-12;
    min-width: @size-90;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(:disabled) {
      &:hover {
        background: var(--simple-yes-30);
      }

      &:focus {
        border: var(--primary-button-border-focus);
      }
    }
  }

  > span {
    .text-10;

    color: var(--simple-primary-text);
    grid-column: 2;
    grid-row: 2;
    text-align: center;
  }
}

.SportsCardFooter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  > span {
    .text-10-semi-bold;

    align-items: center;
    color: var(--simple-primary-text);
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    text-transform: uppercase;

    > svg {
      margin-right: @size-4;
    }
  }

  > div[class*="ValueLabel"] {
    display: flex;
    flex-flow: row nowrap;

    > span:first-of-type {
      margin-right: @size-4;
    }
  }
}

.SportsCardComboOutcomes {
  .SimpleBorder;

  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background: var(--light-background-color);

  > header {
    .PrimaryTopBorderRadius;

    background: var(--alternate-background-color);
    min-height: @size-30;
    max-height: @size-30;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 10.5% 10.5% 10.5%;
    grid-gap: @size-2 @size-8;
    padding: @size-8;

    > span {
      .text-10-semi-bold;

      color: var(--simple-secondary-text);
      white-space: nowrap;
      text-align: center;
    }
  }

  > main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    > article {
      border-top: @size-1 solid var(--simple-border);
      display: grid;
      grid-gap: @size-2 @size-8;
      grid-template-columns: 1fr 10.5% 10.5% 10.5%;
      grid-template-rows: auto @size-13;
      padding: @size-8;
      min-height: @size-65;
      max-height: @size-65;

      > label {
        .text-14-bold;

        color: var(--simple-primary-text);
        grid-column: 1;
        grid-row: span 2;
        margin-bottom: 0;
      }

      > button {
        .SimpleBorder;

        align-items: center;
        border-color: var(--simple-yes);
        background: var(--simple-yes-15);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        min-height: @size-36;
        max-height: @size-36;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        &:not(:disabled) {
          &:hover {
            background: var(--simple-yes-30);
          }
    
          &:focus {
            border: var(--primary-button-border-focus);
          }
        }

        > span:first-of-type {
          .text-12;

          color: var(--simple-primary-text);

          > b {
            .text-12-bold;

            color: var(--simple-secondary-text);
            margin-right: @size-4;
          }
        }

        > span:last-of-type {
          .text-10-semi-bold;

          color: var(--simple-primary-text);
        }
      }

      > span {
        .text-10;

        color: var(--simple-primary-text);
        text-align: center;
      }
    }

    &:last-child {
      > article:last-of-type {
        .PrimaryBottomBorderRadius;
      }
    }
  }

  > :last-child {
    .PrimaryBottomBorderRadius;
  }

  &.MarketPage {
    > main {
      background: var(--simple-light-bg);

      > article:hover {
        background: var(--light-background-color);
      }
    }
  }
}
