@import (reference) "~assets/styles/shared";

.LiquidityTableRow {
  .PrimaryBorderRadius;

  align-items: center;
  background: var(--primary-bg);
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-gap: @size-8;
  padding: 0 @size-24;
}

.LiquidityView {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: 0fr 0fr 0fr 0fr 1fr;
  grid-gap: @size-16;
  padding: @size-40 @size-88 @size-48;

  > h1 {
    .text-30-bold;

    color: var(-primary-text);
    margin: 0;
    margin-top: @size-32;
    grid-column: span 2;
    grid-row: 2;
  }

  > p {
    .text-20-semi-bold;

    color: var(--primary-text);
    margin-bottom: @size-32;
    display: flex;
    flex-flow: row nowrap;
    grid-column: span 2;
    grid-row: 3;

    > a {
      .text-20-semi-bold;

      color: var(--secondary-text);
      margin-left: @size-4;
    }
  }

  > ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0fr 0fr 0fr 1fr;
    grid-gap: @size-16;
    grid-column: span 2;
    max-height: @size-48;
    width: 100%;

    > * {
      max-height: @size-48;
      height: @size-48;
      min-height: @size-48;
    }

    > span {
      align-items: center;
      white-space: nowrap;
      display: flex;
      flex-flow: row nowrap;
    }

    > div:last-of-type {
      margin-left: auto;

      &:focus-within {
        margin-left: 0;
      }
    }
  }

  > section {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: @size-8;
    margin-top: @size-32;
    margin-bottom: auto;

    > article {
      .LiquidityTableRow;

      min-height: @size-56;
      max-height: @size-56;

      > button {
        border: none;
        background: none;
        text-align: right;
      }

      > span {
        .text-12-semi-bold;

        color: var(--primary-text);
      }
    }

    > section {
      display: grid;
      grid-auto-columns: 1fr;
      grid-gap: @size-8;
      overflow-y: auto;
    }
  }
}

.LiquidityMarketCard {
  .LiquidityTableRow;
  .HoverDropShadow;

  min-height: @size-80;
  max-height: @size-80;

  > a:first-of-type {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: @size-16;
    align-items: center;

    > span {
      display: flex;
      flex-flow: column nowrap;

      > span:first-of-type {
        .text-14-semi-bold;

        color: var(--primary-text);
        line-height: 140%;

        > span:first-of-type {
          .limit-lines(1);
        }

        > span:last-of-type {
          .limit-lines(2);
        }

        > span:first-of-type:last-of-type {
          .limit-lines(3);
        }
      }

      > span:last-of-type {
        .text-12;

        color: var(--secondary-text);
        white-space: nowrap;
        word-break: none;
        display: inline-block;
        text-transform: uppercase;

        @media @breakpoint-mobile-tablet {
          .text-10;
        }
      }
    }
  }

  > span {
    .text-12;

    color: var(--primary-text);
    text-align: right;
  }

  > button {
    padding: @size-10 @size-12;
    width: min-content;
    justify-self: flex-end;

    > span {
      .text-10-semi-bold;
    }
  }
}
