@import (reference) "~assets/styles/shared";

.LiquidityTableRow {
  .PrimaryBorderRadius;

  align-items: center;
  background: var(--primary-bg);
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-gap: @size-8;
  padding: @size-24;
}

.LiquidityView {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: 0fr 0fr 0fr 0fr 1fr;
  grid-gap: @size-16;
  padding: @size-40 @size-88 @size-48;


  @media @breakpoint-tiny {
    margin: 0;
    margin-top: var(--theme-top-bar-height);
  }

  @media @breakpoint-mobile-tablet {
    margin: 0;
    margin-top: var(--theme-top-bar-height-mobile);
    padding: @size-16;

    > div:first-of-type,
    > div:nth-of-type(2) {
      grid-column: span 2;
    }
  }

  > h1 {
    .text-30-bold;

    color: var(-primary-text);
    margin: 0;
    margin-top: @size-32;
    grid-column: span 2;
    grid-row: 2;

    @media @breakpoint-mobile-tablet {
      display: none;
    }
  }

  > p {
    .text-20-semi-bold;

    color: var(--primary-text);
    margin-bottom: @size-32;
    display: flex;
    flex-flow: row nowrap;
    grid-column: span 2;
    grid-row: 3;

    > a {
      .text-20-semi-bold;

      color: var(--secondary-text);
      margin-left: @size-4;
    }

    @media @breakpoint-mobile-tablet {
      display: none;
    }
  }

  > ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0fr 0fr 0fr 1fr;
    grid-gap: @size-16;
    grid-column: span 2;
    max-height: @size-48;
    width: 100%;

    @media @breakpoint-mobile-tiny {
      grid-auto-flow: unset;
      grid-template-columns: 0fr 0fr 1fr;
      max-height: unset;
    }

    @media @breakpoint-mobile-tablet {
      grid-template-columns: 1fr 1fr;
    }

    > * {
      max-height: @size-48;
      height: @size-48;
      min-height: @size-48;

      @media @breakpoint-mobile-tablet {
        min-height: @size-34;
        height: @size-34;
        max-height: @size-34;
      }
    }

    > span {
      .text-12-semi-bold;

      align-items: center;
      white-space: nowrap;
      display: grid;
      grid-template-columns: 0fr 0fr;
      grid-gap: @size-8;
    }

    > div:not(:last-of-type) {
      @media @breakpoint-mobile-tablet {
        max-width: 100%;

        > button {
          padding: @size-10 @size-12;

          > svg {
            margin-left: @size-8;
          }

          > span {
            .text-10-semi-bold;
          }
        }
      }
    }

    > div:last-of-type {
      margin-left: auto;

      &:focus-within {
        margin-left: 0;
      }

      @media @breakpoint-mobile-tiny {
        grid-column: span 3;
        grid-row: 1;
        margin-left: 0;
        max-height: @size-40;
        min-height: @size-40;
        height: @size-40;

        > input {
          .text-12-semi-bold;

          padding: @size-8 @size-16;
        }
      }
      
      @media @breakpoint-mobile-tablet {
        grid-column: span 2;
      }
    }
  }

  > section {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: @size-8;
    margin-top: @size-32;
    margin-bottom: auto;

    @media @breakpoint-mobile-tablet {
      margin-top: @size-8;
    }

    > article {
      .LiquidityTableRow;

      min-height: @size-56;
      max-height: @size-56;

      @media @breakpoint-mobile-tablet {
        min-height: @size-40;
        max-height: @size-40;
        height: @size-40;
        padding: @size-12;
        grid-template-columns: 1fr .5fr 0fr;
        grid-gap: 0 @size-8;

        > button,
        > span:not(:first-of-type) {
          display: none;

          &:nth-of-type(2),
          &:nth-of-type(3) {
            display: flex;
          }
        }
      }

      > button {
        border: none;
        background: none;
        text-align: right;

        > svg {
          transform: rotate(90deg);
        }

        &.Ascending {
          > svg {
            transform: rotate(-90deg);
          }
        }
      }

      > span {
        .text-12-semi-bold;

        color: var(--primary-text);
      }
    }

    > section {
      display: grid;
      grid-auto-columns: 1fr;
      grid-gap: @size-8;
      overflow-y: auto;
    }
  }
}

.LiquidityMarketCard {
  .LiquidityTableRow;
  .HoverDropShadow;

  min-height: @size-80;

  > a:first-of-type {
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: @size-16;
    align-items: center;

    > span {
      display: flex;
      flex-flow: column nowrap;

      > span:first-of-type {
        .text-14-semi-bold;

        color: var(--primary-text);
        line-height: 140%;

        > span:first-of-type {
          .limit-lines(1);
        }

        > span:last-of-type {
          .limit-lines(2);
        }

        > span:first-of-type:last-of-type {
          .limit-lines(3);
        }
      }

      > span:last-of-type {
        .text-12;

        color: var(--secondary-text);
        white-space: nowrap;
        word-break: none;
        display: inline-block;
        text-transform: uppercase;

        @media @breakpoint-mobile-tablet {
          .text-10;
        }
      }
    }
  }

  > span {
    .text-12;

    color: var(--primary-text);
    text-align: right;
  }

  > div:last-of-type {
    display: grid;
    grid-gap: @size-8;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;

    > button:first-of-type:last-of-type {
      padding: @size-10 @size-12;
      width: min-content;
      justify-self: flex-end;

      > span {
        .text-10-semi-bold;
      }
    }
  }

  &.HasUserLiquidity {
    padding: 0;
    grid-gap: 0 @size-8;

    > a,
    > span,
    > div {
      margin: @size-10 0;
    }

    > a {
      margin-left: @size-24;
    }
    > div {
      margin-right: @size-24;
    }

    > article:last-of-type {
      grid-column: span 7;
      border-top: @size-1 solid var(--theme-border);
      padding: @size-16 @size-24;
      height: unset;
      max-height: unset;
    }
  }
}
