@import (reference) "~assets/styles/shared";

.MarketLiquidityView {
  display: flex;
  flex-flow: column nowrap;
  padding: @size-40 @size-88 @size-48;
 

  > * {
    max-width: 942px;
    width: 100%;
    margin: 0 auto @size-40;
  }

  > a:first-of-type {
    .ThemeBorder;

    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap: @size-16;
    align-items: center;
    outline: none;
    padding: @size-24;

    > span {
      display: grid;
      grid-gap: @size-4;

      > span:first-of-type {
        .text-14-semi-bold;

        color: var(--primary-text);
        line-height: 140%;

        &:hover {
          text-decoration: underline;
        }

        > span:first-of-type {
          .limit-lines(1);
        }

        > span:last-of-type {
          .limit-lines(2);
        }

        > span:first-of-type:last-of-type {
          .limit-lines(3);
        }
      }

      > span:last-of-type {
        .text-12;

        color: var(--secondary-text);
        white-space: nowrap;
        word-break: none;
        display: inline-block;
        text-transform: capitalize;
      }
    }
  }
}

.LiquidityWarningFooter {
  .ThemeBorder;

  padding: @size-24;
  display: grid;
  grid-gap: @size-24;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  > p {
    .text-14;

    color: var(--primary-text);
    margin: 0;
    padding: 0;
  }

  > span {
    .text-16-bold;

    color: var(--primary-text);
    display: flex;
    flex-flow: row nowrap;

    > svg {
      width: @size-20;
      height: @size-20;
      margin-right: @size-10;

      > path {
        fill: var(--failed);
      }
    }
  }
}