@import (reference) '~assets/styles/shared';

.CategoriesArea {
  min-width: 210px;
  margin-right: @size-40;

  > h2 {
    .text-20-bold;

    color: var(--simple-primary-text);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: @size-32;
  }

  > h3 {
    .text-14-bold;

    color: var(--simple-primary-text);
    text-transform: uppercase;
    margin: 0;
  }

  h4 {
    .text-12-semi-bold;

    color: var(--simple-primary-text);
    text-transform: uppercase;
  }
}

.RemoveCategoryButton {
  .text-12-semi-bold;

  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  background: transparent;
  border: 0;
  color: var(--simple-secondary-text);
  text-transform: uppercase;
  // to actually get alignment right.
  line-height: @size-14;

  > span {
    .PrimaryBorderRadius;
  
    background: var(--simple-light-bg);
    border: @size-1 solid var(--simple-tertiary-text);
    height: @size-20;
    width: @size-20;
    margin-right: @size-8;
    
    > svg {
      height: @size-6;
      width: @size-10;
      transform: rotate(90deg);
    
      > path {
        fill: var(--simple-primary-text);
      }
    }
  }
}